.header {
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.header__logo img {
    max-width: 100%;
    height: auto;
}

.header__info {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.header__item {
    display: flex;
    align-items: center;
    margin-left: 2rem;
}

.header__item:first-child {
    margin-left: 0;
}

.header__item:last-child {
    margin-right: 0;
}

.header__item svg {
    font-size: 1.5rem;
    margin-right: 0.5rem;
    color: #555;
}

.header__text {
    font-size: 1rem;
    color: #555;
}

@media only screen and (max-width: 768px) {
    .header {
        flex-direction: column;
        align-items: flex-start;
    }

    .header__info {
        margin-top: 1rem;
        justify-content: center;
    }

    .header__item {
        margin: 0.5rem 0;
    }

    .header__item:first-child {
        margin-top: 0;
    }

    .header__item:last-child {
        margin-bottom: 0;
    }
}