.contact-us-container {
    display: flex;
    flex-direction: row;
    background-color: rgb(227, 226, 225);
}

.contact-details {
    flex-basis: 50%;
    padding: 0 1rem;
    transition: background-color 0.3s ease;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
}

.contact-details:hover {
    background-color: #f9f9f9;
}

.contact-details h2 {
    font-size: 2rem;
    margin-bottom: 1rem;

}

.contact-details p {
    margin: 0.5rem 0;
}

.contact-form {
    flex-basis: 50%;
    padding: 0 1rem;
    transition: background-color 0.3s ease;
    justify-content: space-around;
}

.contact-form:hover {
    background-color: #f9f9f9;
}

.contact-form h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.contact-form form {
    display: flex;
    flex-direction: column;
}

.contact-form .form-group {
    margin-bottom: 1rem;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
}

.contact-form label {
    font-weight: bold;
    margin-bottom: 0.5rem;
    margin-right: 50px;
}

.contact-form input,
.contact-form textarea {
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
}

.contact-form button[type="submit"] {
    background-color: #333;
    color: #fff;
    padding: 0.5rem;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-bottom: 40px;
}

.contact-form button[type="submit"]:hover {
    background-color: #555;
    margin-bottom: 40px;
}

@media screen and (max-width: 768px) {

    .contact-us-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .contact-details {
        display: flex;
        flex-direction: column;
    }

    .contact-details,
    .contact-form {
        flex-basis: 100%;
        padding: 1rem;
        width: 80%;
        align-items: center;
    }

    .contact-form label {
        font-weight: bold;
        margin-bottom: 0.5rem;
        margin-right: 50px;
    }
}